thead{
 background-color: gray;
}
.p{
    background-color: gray;
}
.pa{
    background-color: gray;
}
.pb{
    background-color: gray;
}
.pc{
    background-color: gray;
}
tbody th{
    background-color: lavender;
}